body {
	font-family: 'Poor Story', cursive;
	background-color: #ffffff;
	box-sizing: border-box;
	color: #000000;
}
.ad_1 {
	width: 320px;
	margin: 0 auto;
}
.ad_2 {
	width: 250px;
	height: 300px;
	margin: 0 auto;
}
.smcx-embed {
	margin: 0 auto;
}
.file-upload {
	padding: 15% 3%;
	margin: 0 auto;
	border-radius: 10px;
	border: solid 1.5px #000000;
	background-color: #f2f2f2;
}
.file-upload-btn {
	width: 100%;
	margin: 0;
	color: #fff;
	background: #1fb264;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #15824b;
	transition: all 0.2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}

.file-upload-btn:hover {
	background: #1aa059;
	color: #ffffff;
	transition: all 0.2s ease;
	cursor: pointer;
}

.file-upload-btn:active {
	border: 0;
	transition: all 0.2s ease;
}

.file-upload-content {
	display: none;
	text-align: center;
}
#loading {
	display: none;
}

.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}

.image-upload-wrap {
	width: 60%;
	margin: 0 auto;
	position: relative;
	object-fit: contain;
	border-radius: 10px;
	border: dashed 1.5px #35465d;
	background-color: #ffffff;
}

.image-dropping,
.image-upload-wrap:hover {
	background-color: #35465d82;
	border: 1.5px dashed #ffffff;
}

.image-title-wrap {
	padding: 0 15px 15px 15px;
	color: #222;
}

.drag-text {
	text-align: center;
}

.drag-text h3 {
	font-weight: 500;
	text-transform: uppercase;
}

.file-upload-image {
	max-height: 60%;
	max-width: 60%;
	margin: auto;
	padding: 10px;
}

.try-again-btn {
	border-radius: 40px;
	border: solid 1.5px #35465d;
	background-color: #35465d;
}

.try-again-text {
	display: block;
	font-size: 1.5rem;
	text-align: center;
	color: #ffffff;
	padding: 4px 15px;
}

.remove-image:hover {
	background: #c13b2a;
	color: #ffffff;
	transition: all 0.2s ease;
	cursor: pointer;
}

.remove-image:active {
	border: 0;
	transition: all 0.2s ease;
}

.navbar-light .navbar-brand {
	line-height: 1.68;
	text-align: left;
	color: #35465d;
}

.navbar-light .navbar-toggler {
	border-color: #ffffff;
}

.section {
	margin-top: 20px;
}

.title {
	line-height: 1.67;
	text-align: center;
	color: #000000;
}

.subtitle {
	line-height: 1.53;
	text-align: center;
	color: #000000;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
	html {
		font-size: 10px;
	}
	.navbar-brand {
		font-size: 2rem;
	}
}

.youtube-link {
	font-size: 1.5rem;
	line-height: 1.71;
	text-align: center;
	color: #f73737;
	text-decoration: underline;
}

.youtube-link:hover {
	font-size: 1.5rem;
	line-height: 1.71;
	text-align: center;
	color: #f73737;
	text-decoration: underline;
}

.youtube-icon {
	width: 30px;
	height: 27.262px;
}

.upload {
	width: 20%;
}

.upload-text {
	width: 60%;
	font-size: 1.5rem;
	line-height: 1.53;
	text-align: center;
	color: #000000;
	margin: 0 auto;
}

.footer {
	background-color: initial;
	color: initial;
}

.bar-container {
	height: 2.7rem;
}
.brave-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(255, 121, 121, 0.2);
}
.brave-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(255, 121, 121, 1);
}
.smart-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(255, 188, 121, 0.2);
}
.smart-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(255, 188, 121, 1);
}
.independence-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(255, 255, 121, 0.2);
}
.independence-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(255, 255, 121, 1);
}
.gay-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(188, 255, 121, 0.2);
}
.gay-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(188, 255, 121, 1);
}
.loyalty-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(121, 235, 255, 0.2);
}
.loyalty-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(121, 235, 255, 1);
}
.gentleness-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(255, 121, 121, 0.2);
}
.gentleness-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(255, 121, 121, 1);
}
.curious-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(255, 188, 121, 0.2);
}
.curious-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(255, 188, 121, 1);
}
.stindependence-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(255, 255, 121, 0.2);
}
.stindependence-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(255, 255, 121, 1);
}
.clever-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(188, 255, 121, 0.2);
}
.clever-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(188, 255, 121, 1);
}
.obedient-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(121, 235, 255, 0.2);
}
.obedient-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	border-radius: 10px;
	background-color: rgba(121, 235, 255, 1);
}
.percent-text {
	font-size: 1rem;
	color: #000000;
}
.animal-label {
	width: 20%;
	text-align: left;
	height: 2rem;
}
#label-container {
	width: 80%;
	margin: 0 auto;
}
.result-message {
	font-size: 2rem;
}

.animal-explain {
	font-size: 1.5rem;
}
.dinosaur-animal-title {
	color: #3ba363;
}
.dinosaur-animal-celeb {
	color: #3ba363;
	font-size: 1.2rem;
}
.deer-animal-title {
	color: #3ba363;
}
.deer-animal-celeb {
	color: #3ba363;
	font-size: 1.2rem;
}
.cat-animal-title {
	color: #ff6c0a;
}
.cat-animal-celeb {
	color: #ff6c0a;
	font-size: 1.2rem;
}
.dog-animal-title {
	color: #548dd4;
}
.dog-animal-celeb {
	color: #548dd4;
	font-size: 1.2rem;
}
.rabbit-animal-title {
	color: #e56995;
}
.rabbit-animal-celeb {
	color: #e56995;
	font-size: 1.2rem;
}
.bear-animal-title {
	color: #9b6b43;
}
.bear-animal-celeb {
	color: #9b6b43;
	font-size: 1.2rem;
}
.fox-animal-title {
	color: #31849b;
}
.fox-animal-celeb {
	color: #31849b;
	font-size: 1.2rem;
}

/* gender */
input#animal {
	display: none;
}

h5 {
	text-align: center;
}

label {
	cursor: pointer;
	display: inline-block;
	width: 90px;
	height: 41px;
	box-shadow: 0 0 0 8px #f2f2f2 inset;
	border-radius: 30px;
	position: relative;
}

.knob {
	position: absolute;
	width: 41px;
	top: 0;
	left: 0;
	height: 41px;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #ffd61d inset;
	background-color: #ffffff;
	transition: 0.2s;
}

.knob > i {
	position: absolute;
	top: 100%;
	background-color: #f470a7;
	left: calc(50% - 2px);
}

.knob > i:before,
.knob > i:after {
	position: absolute;
	top: 42%;
	content: '';
	height: 4px;
	background-color: #f470a7;
}

.knob > i:before {
	left: 4px;
}
.knob > i:after {
	left: -6px;
}

input:checked + label > .knob {
	box-shadow: 0 0 0 8px #1d46ff inset;
	background-color: #ffffff;
	transform: translateX(49px) rotate(-140deg);
}

input:checked + label > .knob > i {
	background-color: #a6f7f7;
}

input:checked + label > .knob > i:after,
input:checked + label > .knob > i:before {
	background-color: #a6f7f7;
}

.ad-banner {
	max-width: 320px;
}
.select-language {
	font-size: 2em;
}

/*버튼코드*/
a.btn-3 {
	margin: 0 auto;
}
.wrap html {
	padding-top: 50px;
	text-align: center;
	background-color: #eeeeee;
}
html *,
html *:before,
html *:after {
	box-sizing: border-box;
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}
html i,
html em,
html b,
html strong,
html span {
	-webkit-transition: none;
	transition: none;
}

*:before,
*:after {
	z-index: -1;
}

h1,
h4 {
	margin: 0;
	line-height: 1;
	clear: both;
}

.wrap a {
	text-decoration: none;
	line-height: 40px;
	color: black;
	text-align: center;
}

.centerer {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 0 1rem;
}

@media (min-width: 600px) {
	.wrap {
		width: 100%;
		float: left;
	}
}
[class^='btn-'] {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 40px;
	max-width: 125px;
	margin: 1rem auto;
	text-transform: uppercase;
	border: 1px solid currentColor;
}

.btn-3:before,
.btn-3:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-top: 20px solid #01131c;
	border-bottom: 20px solid #01131c;
}
.btn-3:before {
	border-right: 20px solid transparent;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}
.btn-3:after {
	border-left: 20px solid transparent;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}
.btn-3:hover {
	color: #c0c7cb;
}
.btn-3:hover:before {
	-webkit-transform: translateX(-30%);
	transform: translateX(-30%);
}
.btn-3:hover:after {
	-webkit-transform: translateX(30%);

	transform: translateX(30%);
}